<li id="aboot-me">
<ul class="block">
    <img src="{{site.baseurl}}/images/avatar.jpg" alt="It's me" />
    <p>
    In many cases, More thought than done. 'Good Good Study, Day Day Up'! Let's Go.<br />
    Someone said: "The most dependable method of learning is Read The Fucking Source Code".<br />
    </p>
    <script type="text/javascript" src="http://jf.revolvermaps.com/2/1.js?i=5qc6a3g94s5&amp;s=190&amp;m=5&amp;v=false&amp;r=false&amp;b=ffffff&amp;n=false&amp;c=ff0000" async="async"></script>
</ul>
</li>
