<li id="recent-post">
<h2>近期文章</h2>
<ul class="recent">
    {% if page.published %} 
        {% for post in site.related_posts limit:10 %}
        <li><a href="{{site.baseurl}}{{ post.url }}" title="{{ post.title }} {{ post.date | date_to_string }}">{{ post.title }} </a></li>
        {% endfor %}
    {% else %}
        {% for post in site.posts limit:10 %}
        <li><a href="{{site.baseurl}}{{ post.url }}" title="{{ post.title }} {{ post.date | date_to_string }}">{{ post.title }} </a></li>
        {% endfor %}
    {% endif %}
</ul>
</li>
