<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>念愿的博客</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="author" content="{{ site.author.fullname }}" />
		<link href="atom.xml" rel="alternate" title="Atom" type="application/atom+xml" />
		<link href="rss.xml" rel="alternate" title="RSS" type="application/rss+xml" />
		<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">

		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" media="screen" />

		<script src="/js/scrolltop.js" type="text/javascript" charset="utf-8"></script>
		{% unless page.title %}
		{% include redirect-url.html %}
		{% endunless %}
	</head>

	<body>
		<div id="logo">
			<h1><a href="{{ site.baseurl }}">心灵驿站</a></h1>
			<p><em>成长已慢慢接近,~~~念愿`花心悦~天开阔~心地善~情意真~~~</em></p>
		</div>
		<hr /> <!--产生一条水平线-->
		<!-- end #logo -->

		<div id="header">
			<div id="menu">
				<ul>
					<li><a href="{{ site.baseurl }}/blog" class="first">我的Blog</a></li>
					<li class="current_page_item"><a href="http://www.cailiwei.com.cn">我的家园</a></li>
					<li><a href="http://www.cailiwei.com.cn/#">我的简历</a></li>
					<li><a href="#">文章收集</a></li>
					<li><a href="#">问题总结</a></li>
					<li><a href="http://www.cailiwei.com.cn">关于我</a></li>
				</ul>
			</div>
			<!-- end #menu -->
			<div id="search">
				<form action="http://www.google.com/cse" id="cse-search-box">
					<fieldset>
						<input type="hidden" name="cx" value="013327025781380964119:0ig1vkb9ffq">
						<input type="hidden" name="ie" value="UTF-8">
						<input type="text" name="s" id="search-text" size="15" value="请输入要查询内容"/>
						<input type="submit" id="search-submit" value="GO" />
					</fieldset>
				</form>
				<script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&amp;lang=en"></script>
			</div>
			<!-- end #search -->
		</div>
		<!-- end #header -->
		<!-- end #header-wrapper -->

		<div id="page">

			<div id="content">
				{{ content }}

				<!--返回顶部按钮-->
				<div id="goTopBtn" style="display:none" title="返回顶部">
					<a href="javascript:"><img style="border:none" class="topBtn" title="返回顶部" src="./images/go2top.png" alt="go2top"/></a>
				</div>
				<script type="text/javascript">goTopEx();</script>
				<!--返回顶部按钮end-->
			</div>

			<div id="sidebar">
				{% include desire.html %}

				{% include tag-sidebar.html %}

				{% include recent.html %}

				{% include douban.html %}

				{% include see-also.html %}
			</div>
			<!-- end #sidebar -->

			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #page -->

		{% include footer.html %}

		{% for js in page.js %}
		<script src="{{ site.baseurl }}{{ js }}" type="text/javascript" charset="utf-8"></script>
		{% endfor %}
		{% for js in site.js %}
		<script src="{{ site.baseurl }}{{ js }}" type="text/javascript" charset="utf-8"></script>
		{% endfor %}
		{% include after-foot.html %}
		
	</body>
</html>
